[submodule "Externals/Cedar"]
	path = Externals/Cedar
	url = https://github.com/pivotal/cedar.git
[submodule "Externals/FakeHTTP"]
	path = Externals/FakeHTTP
	url = https://github.com/kseebaldt/FakeHTTP.git
